body {
  background: black;
  color: white;
  font-family: Arial, Verdana, sans-serif;
}

.gameBlock {
  cursor: pointer;
  width: 30%;
  padding: 10px;
  margin: 10px;
  background: darkgray;
  text-align: center;
  float: left;
}
